
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Tendencias políticas FC-checkpoint.ipynb
.ipynb_checkpoints/Sunspots-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Political Trends in FC - RNN/Dataset Generator.ipynb
Political Trends in FC - RNN/Dataset/dataset.csv
Political Trends in FC - RNN/Dataset/political_keys.csv
Political Trends in FC - RNN/Load Dataset and Model.ipynb
